---
import BuildingCard from './BuildingCard.astro';
import { getBuildings } from '../../data/buildings';
import { Resource } from 'sst';

import _ from 'lodash';

const buildings = await getBuildings();
const apiURL = Resource.API.url;
const newBuildingData = JSON.stringify({
    buildingID: '',
    street: '',
    city: '',
    state: '',
    zip: '',
    description: '',
    apiURL
});
---
<div x-data="{ activeTab: -1, showToast: false, toastMessage: '', toastType: '', init() {
        const buildingsData = JSON.parse(this.$el.dataset.buildings);
        const hash = decodeURIComponent(window.location.hash.substring(1));
        if (hash) {
            const index = buildingsData.findIndex(b => b.buildingID === hash);
            if (index !== -1) {
                this.activeTab = index;
            } else if(hash === 'add-new-building') {
                this.activeTab = buildingsData.length;
            } else {
                this.activeTab = 0;
            }
        }
    }, showAndHideToast(message, type) {
        this.toastMessage = message;
        this.toastType = type;
        this.showToast = true;
        setTimeout(() => {
            this.showToast = false;
        }, 3000);
    } }" data-buildings={JSON.stringify(buildings)}>
    <div class="toast toast-center toast-middle" x-show="showToast" x-transition.opacity>
        <div class="alert" :class="{ 'alert-error': toastType === 'error', 'alert-success': toastType === 'success' }">
            <span x-text="toastMessage"></span>
        </div>
    </div>
    {buildings && (
        <div role="tablist" class="tabs tabs-lift">
        {_.map(buildings, (building, i) => (
            <a role="tab" class="tab" :class={`{ 'tab-active': activeTab === ${i} }`}
                x-on:click={`activeTab = ${i}; window.location.hash = '${building.buildingID}'`}
            >{building.buildingID}</a>
            <BuildingCard buildingID={building.buildingID} />
        ))}
            <a role="tab" class="tab" :class={`{ 'tab-active': activeTab === ${buildings.length} }`}
                x-on:click={`activeTab = ${buildings.length}; window.location.hash = 'add-new-building'`}
            >+</a>
            <div class="tab-content bg-base-100 border-base-300 p-4" x-data={newBuildingData}>
                <fieldset class="fieldset w-xl">
                    <label class="floating-label mb-6">
                        <span>Building Name</span>
                        <input type="text" x-model="buildingID" placeholder="Building Name (required)" class="input input-xl w-full" required />
                    </label>
                    <label class="floating-label mb-2">
                        <span>Street</span>
                        <input type="text" x-model="street" placeholder="Street" class="input w-full"/>
                    </label>
                    <label class="floating-label mb-2">
                        <span>City</span>
                        <input type="text" x-model="city" placeholder="City" class="input w-full"/>
                    </label>
                    <label class="floating-label mb-2">
                        <span>State</span>
                        <input type="text" x-model="state" placeholder="State" class="input w-full"/>
                    </label>
                    <label class="floating-label mb-2">
                        <span>Zip</span>
                        <input type="text" x-model="zip" placeholder="Zip" class="input w-full"/>
                    </label>
                    <label class="floating-label mt-4">
                        <span>Description</span>
                        <textarea class="textarea w-full" placeholder="Description" x-model="description" />
                    </label>
                </fieldset>
                <div class="mt-2 space-x-2">
                    <button class="btn btn-primary"
                        x-on:click="if(!buildingID) {
                            showAndHideToast('Building ID is required.', 'error');
                            return;
                        }
                        const response = await fetch(`${apiURL}buildings`, {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                buildingID,
                                street,
                                city,
                                state,
                                zip,
                                description,
                            }),
                        });
                        if(response.ok) {
                            showAndHideToast('Building added successfully!', 'success');
                            window.location.hash = buildingID;
                            setTimeout(() => {
                                window.location.reload(); // Reload to show the new building tab
                            }, 1000); // 1 second delay
                        } else {
                            showAndHideToast('Failed to add building.', 'error');
                        }
                    ">Add Building</button>
                    <button class="btn btn-soft"
                    x-on:click="buildingID = '';
                            street = '';
                            city = '';
                            state = '';
                            zip = '';
                            description = '';
                    ">Cancel</button>
                </div>
            </div>
        </div>
    )}
</div>
