---
import BuildingCard from './BuildingCard.astro';
import { getBuildings } from '../../data/buildings';
import _ from 'lodash';

const buildings = await getBuildings();
---

<div x-data="{ activeTab: 0 }">
    {buildings && (
        <>
            <div class="flex">
                {_.map(buildings, (building, i) => (
                    <button
                        class="py-2 px-4 focus:outline-none border-t border-l border-r rounded-t"
                        :class={`{ 'bg-white': activeTab === ${i}, 'bg-gray-200 text-gray-500 border-b': activeTab !== ${i} }`}
                        x-on:click={`activeTab = ${i}`}
                    >
                        {building.buildingID}
                    </button>
                ))}
                <div class="flex-grow border-b"></div>
            </div>

            <div class="border-l border-r border-b p-4 rounded-b -mt-px">
                {_.map(buildings, (building, i) => (
                    <div x-show={`activeTab === ${i}`}>
                        <BuildingCard buildingID={building.buildingID} />
                    </div>
                ))}
            </div>
        </>
    )}
</div>
